{% extends 'tracker/base.html' %}

{% block body %}
<h1>index.html</h1>

<form action="" method="post">
    <h2>Add Expense</h2>
    {% csrf_token %}

    <div> 
        <label>Expense name</label>
        {{ expense_form.name }}
    </div>
    <div> 
        <label>Expense amount</label>
        {{ expense_form.amount }}
    </div>
    <div> 
        <label>Expense category</label>
        {{ expense_form.category }}
    </div>
    <button type="submit">Add</button>



   
</form>

<!-- <div>
    <h1>Expenses</h1>
    {% for expense in expenses %}
    {{expense.name}}->{{expense.amount}}->{{expense.category}} </br>

    {% endfor %}
</div> -->

<div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
             {% for expense in expenses %}
            <tr>
                <td>{{expense.date}}</td>
                <td>{{expense.name}}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.amount }}</td>
                <td>
                   <a href="{% url 'edit' expense.id %}">Modify</a>
                </td>
                <td>
                 <form method="POST" action="{% url 'delete' expense.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                 </form>
                </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}